{% extends "email/base.html" %}

{% block content %}
<tr>
    <td class="content-cell">
        <p>{{ _('Dear') }} {{ application.first_name }} {{ application.last_name }},</p>

        <p>{{ _('Thank you for your application for the') }} {{ application.position }} {{ _('position at The Z Solutions. We are pleased to inform you that your application has been shortlisted for the next stage of our recruitment process.') }}</p>

        <p>{{ _('Our HR team will contact you shortly to schedule an interview and provide more details about the next steps. Please ensure your contact information') }} ({{ application.phone }}) {{ _('is up to date.') }}</p>

        <p>{{ _('If you have any questions or need to update your contact information, please do not hesitate to reach out to us at') }} hr@thesz.solutions .</p>

        <p>{{ _('We look forward to speaking with you soon!') }}</p>

        <p>{{ _('Best regards') }},<br>
        {{ _('The Z Solutions Recruitment Team') }}</p>
    </td>
</tr>
{% endblock %}
