{% extends "email/base.html" %}

{% block content %}
<div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <h2 style="color: #333;">{{ _('Project Request Received') }}</h2>
    
    <p>{{ _('Dear %(name)s,', name=contact_name) }}</p>
    
    <p>{{ _('Thank you for submitting your project request "%(project)s" to The Z Solutions.', project=project_name) }}</p>
    
    <p>{{ _('We have received your project request and will review it carefully. Our team will contact you soon to discuss your project requirements in detail.') }}</p>
    
    <p>{{ _('If you have any questions or would like to provide additional information, please don\'t hesitate to contact us.') }}</p>
    
    <p>{{ _('Best regards,') }}<br>
    {{ _('The Z Solutions Team') }}</p>
</div>
{% endblock %}
